  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style type="text/css">
    </style>
    <title></title>

  <!-- Bootstrap core CSS -->
  <link href="<?php echo base_url();?>assets/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="<?php echo base_url();?>assets/css/style.css" rel="stylesheet">
  <link href="<?php echo base_url();?>assets/css/font-awesome.min.css" rel="stylesheet">


  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <script src="<?php echo base_url();?>assets/js/modernizr.js"></script>
</head>
<body>
  <div id="blue" style="margin-bottom: 10px;">
    <div class="container">
      <div class="row">
        <h1 style="color: #fff">QUIZ - EASY
        </h1>
      </div><!-- /row -->
    </div> <!-- /container -->
  </div><!-- /blue -->

   
  <!-- *****************************************************************************************************************
   ***************************************************************************************************************** -->

  <div class="container mtb" style="font-size: 20px;margin-top: 20px;">
    <form method="GET" action="CheckQuiz">
      <div class="row" style="margin-top: 34px;">
      <% for(i=20;i<30;i++){ %>

        <div class="col-lg-9 col-lg-offset-2">
          <table class="table table-responsive table-hover table-condensed">
            <thead>
              <tr>
                <th><%= results[i].questionNumber %></th>
                <th colspan="2"><%= results[i].question %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>          
                  <div class="radio">
                    <label class="radio"><input type="radio" name="option" value=""><%= results[i].option1 %></input></label>
                  </div>
                </td>
                <td>
                  <div class="radio">
                    <label class="radio"><input type="radio" name="option" value=""><%= results[i].option2 %></input></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="radio">
                    <label class="radio"><input type="radio" name="option" value=""><%= results[i].option3 %></input></label>
                  </div>
                </td>
                <td>
                  <div class="radio">
                    <label class="radio"><input type="radio" name="option" value=""><%= results[i].option4 %></input></label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <button id="submit" class="btn btn-info ">
              Submit
            </button>
          </div>
          
        </div>
        <% }%>
      </div>
      </form>
        <button class="btn btn-danger btn-lg pull-right"><a href="<?php echo base_url();?>index.php/profile-page" style="color: #fff;">End Quiz</a></button>
    </div>
  </body>
</html>

            

